body {
  font-family: Roboto, sans-serif;
  background: #f2f2f2;
  color: #757575;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  width: 96vw;
  margin: 2vw;
}

footer .small-button {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 3.2em;
  height: 3.2em;
  padding: 5px;
  transition: .3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

footer .small-button:hover {
  background: #767676;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

footer .small-button.github {
  background: #6e5494;
}

footer .small-button.medium {
  background: #00ab6c;
  font-size: 0.85em;
  padding: 0.65em;
}

footer svg, .button svg, .delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}

footer svg:hover, .button svg:hover, .delete svg:hover {
  transform: rotate(-0.6deg);
  cursor: pointer
}

footer svg {
  filter: drop-shadow(1.5px 1px 1px #999)
}

/* Confirm */ 
h1 a {
  color: #7f8ff4;
  font: inherit;
  text-decoration: none;
}

h1 a:hover {
  color: #7385F2;
}

/* Form */
form {
  position: relative;
  display: flex;
}

form input {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px 0px 0px 5px;
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

label 				 {
  color: #999; 
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: -26px;
  transition: 0.4s ease all; 
}

input:focus ~ label {
  color: #7f8ff4;
  font-size: 18px;
}

.btn {
	font: inherit;
	border: 0;
	outline: 0;
	transition: all 200ms ease-in;
  cursor: pointer;
  background: #7f8ff4;
  color: #fff;
  width: 120px;
  height: 62px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0px 5px 5px 0px;
  padding: 20px 20px;
}

button:disabled, button:disabled:hover  {
  background: #626ebc;
  cursor: none;
}
		
.btn:hover {
  filter: brightness(90%)
}

.btn:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

/* Toast */
.toast-notification {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
  background: #fff;
}

/* Animations */
.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Spinner */
.spinning {
  animation: spin 1.5s infinite linear;
}

.spinning svg {
  border-radius: 50%
}

@keyframes spin {
  0%  {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }   
}